body{
  background-color: #022539;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ToDoList{
  background-color: #FBF3F1;
  width: 70vw;
  height: 80vh;
  display: flex;
  border-radius: 20px;
  border-top: 10px solid #FB991C;
}